nodered/display.json
[
    {
       "id":"2e43a93e.956ee6",
       "type":"tab",
       "label":"Flow 1",
       "disabled":false,
       "info":""
    },
    {
       "id":"47492e07.3180f",
       "type":"http in",
       "z":"2e43a93e.956ee6",
       "name":"display",
       "url":"/display",
       "method":"post",
       "upload":false,
       "swaggerDoc":"",
       "x":110,
       "y":560,
       "wires":[
          [
             "2a6050e5.ed3f1"
          ]
       ]
    },
    {
       "id":"2a6050e5.ed3f1",
       "type":"function",
       "z":"2e43a93e.956ee6",
       "name":"display lcd command",
       "func":"let command = \"python3 /home/pi/Desktop/rpi/display_text.py \";\ncommand += \"\\'\" + msg.payload.text + \"\\'\"\nmsg.payload = command\nreturn msg",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":340,
       "y":460,
       "wires":[
          [
             "c3b24fea.dd52",
             "c8ca3801.0bfc08"
          ]
       ]
    },
    {
       "id":"c6b26a50.18f0c8",
       "type":"debug",
       "z":"2e43a93e.956ee6",
       "name":"stderr",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"payload",
       "targetType":"msg",
       "statusVal":"",
       "statusType":"auto",
       "x":970,
       "y":500,
       "wires":[
          
       ]
    },
    {
       "id":"14b06f7a.c1d9b1",
       "type":"debug",
       "z":"2e43a93e.956ee6",
       "name":"stdout",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"payload",
       "targetType":"msg",
       "statusVal":"",
       "statusType":"auto",
       "x":970,
       "y":380,
       "wires":[
          
       ]
    },
    {
       "id":"c3b24fea.dd52",
       "type":"debug",
       "z":"2e43a93e.956ee6",
       "name":"function output",
       "active":true,
       "tosidebar":false,
       "console":false,
       "tostatus":false,
       "complete":"payload",
       "targetType":"msg",
       "statusVal":"",
       "statusType":"auto",
       "x":580,
       "y":540,
       "wires":[
          
       ]
    },
    {
       "id":"705ee16f.eafa2",
       "type":"inject",
       "z":"2e43a93e.956ee6",
       "name":"",
       "props":[
          {
             "p":"payload"
          }
       ],
       "repeat":"",
       "crontab":"",
       "once":false,
       "onceDelay":0.1,
       "topic":"",
       "payload":"{\"text\":\"hi there\"}",
       "payloadType":"json",
       "x":130,
       "y":440,
       "wires":[
          [
             "2a6050e5.ed3f1"
          ]
       ]
    },
    {
       "id":"c8ca3801.0bfc08",
       "type":"exec",
       "z":"2e43a93e.956ee6",
       "command":"",
       "addpay":true,
       "append":"",
       "useSpawn":"false",
       "timer":"",
       "oldrc":false,
       "name":"",
       "x":550,
       "y":460,
       "wires":[
          [
             "1f0a1031.0bd6b"
          ],
          [
             "d2aea949.d2e938"
          ],
          [
             
          ]
       ]
    },
    {
       "id":"fd42309f.c574e",
       "type":"http response",
       "z":"2e43a93e.956ee6",
       "name":"200",
       "statusCode":"200",
       "headers":{
          
       },
       "x":970,
       "y":340,
       "wires":[
          
       ]
    },
    {
       "id":"75e806a6.527fc8",
       "type":"http response",
       "z":"2e43a93e.956ee6",
       "name":"300",
       "statusCode":"300",
       "headers":{
          
       },
       "x":970,
       "y":460,
       "wires":[
          
       ]
    },
    {
       "id":"1f0a1031.0bd6b",
       "type":"function",
       "z":"2e43a93e.956ee6",
       "name":"good",
       "func":"msg.payload =  {status: \"good\"};\nreturn msg;",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":740,
       "y":420,
       "wires":[
          [
             "fd42309f.c574e",
             "14b06f7a.c1d9b1"
          ]
       ]
    },
    {
       "id":"d2aea949.d2e938",
       "type":"function",
       "z":"2e43a93e.956ee6",
       "name":"bad",
       "func":"msg.payload =  {status: \"bad\"};\nreturn msg;",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":750,
       "y":480,
       "wires":[
          [
             "75e806a6.527fc8",
             "c6b26a50.18f0c8"
          ]
       ]
    }
 ]
